<<<<<<< HEAD
.color-page {
    /*background: linear-gradient(135deg, #acaaad, #97b4e7);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../src/utils/images/rows-red-seats-theater.jpg);
    background-size: cover;
    object-fit: cover;
    background-position: center;
    z-index: -1;
}
=======
  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
>>>>>>> 8af062c2114cfd4b949f1e5e99188f89825ff271
